body {
    margin:0;
    padding:0;
    background-image:url(covid.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    font-family:'Roboto', sans-serif;
    color:#FFFFFF;
}

p {
    padding:0;
    margin:0;
}

h1 {
    padding:0;
    margin:0;
}

.top-bar {
    width:85%;
    height:auto;
    background-color:#34495e;
    margin:0 auto;
    font-style:italic;
}

.top-bar a {
    text-decoration:none;
    color:#FFFFFF;
}

.top-bar a:visited {
    text-decoration:none;
    color:#FFFFFF;
}

#logo {
    font-weight:600;
    font-size:40px;
    text-align:left;
    vertical-align:middle;
    line-height:80px; 
    padding-left: 20px;
}

.navigation {
    padding:0;
    width:85%;
    height:auto;
    margin:0 auto;
}

.nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

.nav li {
    float:left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:#111;
}

.nav a.active {
    background-color:#111;
}

.nav .icon {
    display:none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.main {
    height:auto;
    width:85%;
    margin:0 auto;
    background-image:url(background.jpg);
    background-size:contain;
    background-attachment:fixed;
}

.main a {
    text-decoration:none;
    color:#EA9CEA
}

.main a:hover {
    text-decoration:underline;;
}

.main a:visited {
    color:#0EB5AF;
}

.first-section {
    width:100%;
    height:auto;
    text-align:justify;
}

#first-section-title {
    padding:10px;
    text-align:left;
}

#first-section-text {
    padding:10px;
}

#first-section-button {
    margin:10px;
}

.second-section {
    width:100%;
    height:auto;
    text-align:justify;
}

#second-section-title {
    padding:10px;
    text-align:left;
}

#second-section-text {
    padding:10px;
}

#second-section-button {
    margin:10px;
}

.third-section {
    width:100%;
    height:auto;
    text-align:justify;
}

.third-section li {
    padding-right:10px;
    padding-bottom:3px;
}

#third-section-title {
    padding:10px;
    text-align:left;
}

#third-section-text {
    padding:10px;
}

#third-section-button {
    margin:10px;
}